.circle {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-top: 200px;
  margin-left: 200px;
}

.input-box {
  display: none;
  margin-top: 20px;
}

.input-box input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.input-box button[type="submit"] {
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
